<!-- BOTÃO FLUTUANTE MOBILE FORA DA SIDEBAR -->
<button *ngIf="isMobile && !isMobileOpen" class="mobile-fab" (click)="toggleMobileSidebar()">
  <i class="fas fa-bars"></i>
</button>

<!-- SIDEBAR -->
<div class="sidebar" [class.collapsed]="isCollapsed" [class.mobile-open]="isMobileOpen" [class.mobile]="isMobile">

  <div class="top">
    <h2 class="logo">🛒</h2>

    <!-- Toggle desktop -->
    <button *ngIf="!isMobile" class="toggle-btn" (click)="toggleSidebar()">
      <!-- <i class="fas" [ngClass]="isCollapsed ? 'fa-chevron-right' : 'fa-chevron-left'"></i> -->
    </button>
  </div>

  <!-- Exercício 1: tornar os menus dinâmicos e adicionar o menu de administrador -->

  <ul class="menu" (click)="closeMobileSidebar()">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.route" routerLinkActive="active">
        <i [class]="item.icon"></i><span>{{ item.label }}</span>
      </a>
    </li>

    <ng-container *ngIf="isAdmin">
  <li class="admin-section-title">Administrador</li>
  <li *ngFor="let adminItem of adminItems">
    <a [routerLink]="adminItem.route" routerLinkActive="active" class="admin-link">
      <i [class]="adminItem.icon"></i><span>{{ adminItem.label }}</span>
    </a>
  </li>
</ng-container>
  </ul>
</div>